# Estatística descritiva

## Gerando dados aleatórios

In [197]:
import numpy as np
from scipy import stats

#gerando um conjunto de dados aleatórios com 100 elementos
np.random.seed(42) #Definindo a semente para reprodução dos resultados
dados_aleatorios = np.random.randint(0, 100, size=100)
dados_aleatorios

array([51, 92, 14, 71, 60, 20, 82, 86, 74, 74, 87, 99, 23,  2, 21, 52,  1,
       87, 29, 37,  1, 63, 59, 20, 32, 75, 57, 21, 88, 48, 90, 58, 41, 91,
       59, 79, 14, 61, 61, 46, 61, 50, 54, 63,  2, 50,  6, 20, 72, 38, 17,
        3, 88, 59, 13,  8, 89, 52,  1, 83, 91, 59, 70, 43,  7, 46, 34, 77,
       80, 35, 49,  3,  1,  5, 53,  3, 53, 92, 62, 17, 89, 43, 33, 73, 61,
       99, 13, 94, 47, 14, 71, 77, 86, 61, 39, 84, 79, 81, 52, 23])

### Caculando a **Média**

In [198]:
media = np.mean(dados_aleatorios)
print(f"A média dos dados aleatórios é {media}.")

A média dos dados aleatórios é 50.54.

### Encontrando o valor **Máximo** e o valor **Mínimo**

In [199]:
maximo = np.max(dados_aleatorios)
minimo = np.min(dados_aleatorios)
print(f"A Máxima é {maximo} e a minima é {minimo}.")

A Máxima é 99 e a minima é 1.

### Caculando a **mediana**

In [200]:
mediana = np.median(dados_aleatorios)
print(f"A mediana dos dados aleatórios é {mediana}.")

A mediana dos dados aleatórios é 53.0.

### Caculando a **Moda**

In [201]:
moda = stats.mode(dados_aleatorios)
print(f"A Moda dos dados aleatórios é {moda[0]}, ele aparece {moda[1]}.")

A Moda dos dados aleatórios é 61, ele aparece 5.

## Calcular o Percentis

In [202]:
import numpy as np

# Dados de exemplo
dados = [10, 20, 30, 40, 50, 60]

# Calculando percentis
percentis = np.percentile(dados, [10, 20, 30, 40, 50, 60, 70, 80, 90])

print("Percentis: ", percentis)

Percentis:  [15. 20. 25. 30. 35. 40. 45. 50. 55.]

In [203]:
percentis = np.percentile(dados, 0.35)

print("Percentis: ", percentis)

Percentis:  10.175

### Quartis

In [204]:
quartis = np.percentile(dados,[25,50,75]) #usamos valores entre 0 e 100

print("Quartis: ", quartis)

Quartis:  [22.5 35.  47.5]

In [205]:
idades = [20, 25, 30, 35, 40, 45, 50, 55, 60, 65]
quartis_idades = np.quantile(idades, [0.25, 0.5, 0.75])#usamos valores entre 0 e 1
print("Quartis de idade: ", quartis_idades)

Quartis de idade:  [31.25 42.5  53.75]

### Calculando a Variancia

In [206]:
variancia = np.var(dados_aleatorios)

### Calculando a **Desvio Padão**

In [207]:
desvio_padrao = np.std(dados_aleatorios)

### Calculando a **Desvio Medio Absoluto**

In [208]:
desvio_medio_absoluto = np.mean(np.abs(dados_aleatorios - media))

In [209]:
# Imprimindo as estatísticas
print("Média:", media)
print("Mediana:", mediana)
print("Máximo:", maximo)
print("Mínimo:", minimo)
print("Variância:", variancia)
print("Desvio Padrão:", desvio_padrao)
print("Desvio Absoluto Médio:", desvio_medio_absoluto)

Média: 50.54
Mediana: 53.0
Máximo: 99
Mínimo: 1
Variância: 857.2284
Desvio Padrão: 29.278463074417004
Desvio Absoluto Médio: 24.826

### Desvio médio

In [210]:
dados = np.array([1,2,3,4,5,6,7,8,9])

media = np.mean(dados)
desvio = dados - media
desvio_medio = np.mean(desvio)
print("Média: ", media)
print("Desvio: ", desvio)
print("Desvio médio:", desvio_medio)

Média:  5.0
Desvio:  [-4. -3. -2. -1.  0.  1.  2.  3.  4.]
Desvio médio: 0.0

In [211]:
#gerando números aleatórios para nosso exemplo
dados = np.random.uniform(low=0, high=50, size=10)
print("Dados: ", dados)

Dados:  [17.83766633 14.04672548 27.13480416  7.04621125 40.10984904  3.72753218
 49.34434683 38.61223846  9.93578408  0.27610586]

In [212]:
media = np.mean(dados)
print("Média: ", media)
desvio = dados - media
print("Desvio: ", desvio)
desvio_medio = np.mean(desvio)
print("Desvio médio:", desvio_medio)

Média:  20.807126367513707
Desvio:  [ -2.96946003  -6.76040088   6.32767779 -13.76091512  19.30272267
 -17.07959418  28.53722046  17.8051121  -10.87134229 -20.53102051]
Desvio médio: -7.105427357601002e-16

In [213]:
dados = np.random.uniform(low=0, high=50, size=10)
 
print(dados)
 
media = np.mean(dados)
desvio_medio_absoluto = np.mean(np.abs(dados - media))

print("Desvio médio absoluto:", desvio_medio_absoluto)

[40.77307142 35.34286719 36.4503584  38.56351733  3.70223259 17.92328643
  5.79345298 43.15517129 31.16490634 16.54490124]
Desvio médio absoluto: 12.760326570993291

In [214]:
import pandas as pd
import numpy as np #não é necessário importar novamente caso já tenha importado antes
 
df =pd.read_csv('aula03_04_dataset_dados_1997_2011_paises.csv',
                              sep = ';',
                              encoding='latin1',
                              decimal=',')
df

,pais,ano,idh,corrupcao_indice,competitividade_indice,globalizacao_indice,pib,populacao
0,África do Sul,1997,0.6328,56,44.54,52.60298,1.488142e+08,43353.63200
1,África do Sul,1998,0.6272,57,31.11,54.51911,1.342956e+08,43961.92400
2,África do Sul,1999,0.6216,50,43.90,61.04379,1.331836e+08,44526.27200
3,África do Sul,2000,0.6160,52,51.52,62.47182,1.328776e+08,45064.09800
4,África do Sul,2001,0.6126,50,45.12,62.04144,1.184790e+08,45576.21500
...,...,...,...,...,...,...,...,...
280,Reino Unido,2007,0.8560,86,75.45,82.12010,1.448770e+06,61337.36992
281,Reino Unido,2008,0.8600,86,71.90,81.67998,1.447825e+06,61731.27576
282,Reino Unido,2009,0.8600,84,76.07,79.31000,1.377247e+06,62086.03336
283,Reino Unido,2010,0.8620,77,76.81,80.18000,1.395893e+06,62438.13815
284,Reino Unido,2011,0.8630,77,80.28,81.68000,1.500045e+06,62262.00000